$main-color: #1ee0eb;

$unvisited-color: transparent;
$visited-main-color: #1ee0eb;
$visited-second-color: #d297ff;
$visited-third-color: lightseagreen;

$neighbor-color: rgba(0, 217, 159, 0.75);
$wall-color: #0d1433;
$path-color: #ff8f03;

$board-border-color: lightblue;
