.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(4, 5, 10);
  .image {
    background: url("../../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}
