.unvisited,
.visited {
  border: 1px solid $board-border-color;
}

@keyframes animateVisitedNeighbor {
  0% {
    background-color: transparent;
    transform: scale(0);

    // clip-path: inset(70% round 70%);
  }
  40% {
    background-color: lighten($neighbor-color, 15%);
    transform: scale(0.5);
  }
  70% {
    // clip-path: inset(30% round 30%);
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
    background-color: $neighbor-color;
  }
}

.neighbor {
  background-color: $neighbor-color;
  animation-name: animateVisitedNeighbor;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@keyframes animateVisited {
  0% {
    background-color: transparent;
    // clip-path: inset(0% round 0%);
    transform: scale(0.6);
  }
  20% {
    background-color: $visited-third-color;
  }
  75% {
    background-color: $visited-second-color;
    // clip-path: inset(50% round 50%);
    transform: scale(1.2);
  }
  100% {
    background-color: $visited-main-color;
    // clip-path: inset(100% round 0%);
    transform: scale(1);
  }
}

.visited {
  background-color: $visited-main-color;
  animation-name: animateVisited;
  animation-duration: 1.2s;
  animation-timing-function: linear;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@keyframes animateWall {
  0% {
    background-color: transparent;
    // clip-path: inset(0% round 0%);
    transform: scale(0.8);
  }
  75% {
    // clip-path: inset(50% round 50%);
    transform: scale(1.3);
  }
  100% {
    background-color: $wall-color;
    // clip-path: inset(100% round 0%);
    transform: scale(1);
  }
}

.wall {
  background-color: $wall-color;
  animation-name: animateWall;
  animation-duration: 0.2s;

  animation-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@keyframes animatePath {
  0% {
    background-color: #621284;
    transform: scale(0.5);
  }
  100% {
    background-color: #ff8f03;
    transform: scale(1);
  }
}

.path {
  background-color: $path-color;
  animation-name: animatePath;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  // transition: background-color 0.2s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.start {
  width: 100%;
  height: 100%;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/arrow.svg");
    background-position: unset;
    background-repeat: no-repeat;
  }
}

.end {
  background-image: url("../../images/aim.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.north:before {
  transform: rotate(-90deg);
}

.south:before {
  transform: rotate(90deg);
}

.west:before {
  transform: rotate(-180deg);
}

.no-animate {
  animation: none;
}

.instant-neighbor {
  background-color: $neighbor-color;
}

.instant-visited {
  background-color: $visited-main-color;
}

.instant-path {
  background-color: $path-color;
}
