.unvisited,
.visited {
  border: 1px solid $board-border-color;
}

@keyframes animateVisitedNeighbor {
  from {
    background-color: transparent;
    clip-path: inset(50% round 50%);
  }
  to {
    background-color: $neighbor-color;
    clip-path: inset(0% round 0%);
  }
}

.neighbor {
  background-color: $neighbor-color;
  animation-name: animateVisitedNeighbor;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@keyframes animateVisited {
  0% {
    background-color: transparent;
    clip-path: inset(0% round 0%);
  }
  20% {
    background-color: $visited-third-color;
  }
  75% {
    background-color: $visited-second-color;
    clip-path: inset(50% round 50%);
  }
  100% {
    background-color: $visited-main-color;
    clip-path: inset(100% round 0%);
  }
}

.visited {
  background-color: $visited-main-color;
  animation-name: animateVisited;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: linear;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@keyframes animateWall {
  0% {
    background-color: transparent;
    // clip-path: inset(0% round 0%);
    transform: scale(0.8);
  }
  75% {
    // clip-path: inset(50% round 50%);
    transform: scale(1.3);
  }
  100% {
    background-color: $wall-color;
    // clip-path: inset(100% round 0%);
    transform: scale(1);
  }
}

.wall {
  background-color: $wall-color;
  // transition: background-color 0.2s ease-in;
  animation-name: animateWall;
  animation-duration: 0.2s;
  // animation-direction: reverse;

  animation-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

// @keyframes animatePath {
//   0% {
//     background-color: #621284;
//   }
//   100% {
//     background-color: #ff8f03;
//   }
// }

.path {
  background-color: $path-color;
  // animation-name: animatePath;
  // animation-duration: 0.2s;
  // // animation-direction: reverse;
  // animation-timing-function: ease-in;
  transition: background-color 0.2s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.start {
  background-image: url("../../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.end {
  background-image: url("../../images/aim.svg");
  background-position: center;
  background-repeat: no-repeat;
}
